 body {
    margin: 10px;
    padding: 20px;
    
}

/* * {
    box-sizing: border-box;
} */
/* 
nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    overflow: hidden;
    position: sticky;
    text-align: center;
    width: 100%;
}

nav span {
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: 14px 16px;
    color: white;
}

nav a {
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: green;
}

.header {
    background-attachment: fixed;
    background-image: url('https://lp-cms-production.imgix.net/2019-06/512d769cd0d5e56c238eb975d2325940-japan.jpeg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 5px;
    top: 0; 
}

.header-text {
    align-content: center;
    align-items: center;
    align-self: center;
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    position: absolute;
    text-align: center;
}

#about-content h2 {
    font-size: 40px;
}

#about-content p {
    font-size: 20px;
}

body, 
html {
    background-color: #c2bfb8;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    top: 0;
}

#about-content {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#gallery {
    margin: 10px;
    max-width: 1000px;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > .column {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.content {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#gallery h2 {
    border-bottom: 3px solid black;
    font-size: 40px;
}

#gallery p {
    font-size: 20px;
}

img {
    align-items: center;
    height: 300px;
    object-fit: cover;
    width: 300px;
}

.box {
    align-items: center;
    align-content: center;
    display: flex;
    background-color: white;
    height: 100px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }

    img {
        height: 300px;
        object-fit: cover;
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    img {
        height: 200px;
        object-fit: cover;
        width: 200px;
    }

}


@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }

    img {
        height: 100px;
        object-fit: cover;
        width: 100px;
    }

}  */